.black {
  color: #171717 !important;
}

.grey {
  color: #444444 !important;
}

.red {
  color: #DA0037 !important;
}

.white {
  color: #EDEDED !important;
}

.nav {
  background-color: #171717 !important;
}